.fondo-banner {
  background-image: url("../img/fondo-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  text-align: center;
}
