.fondo-banner {
  background-image: url("../img/fondo22.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  text-align: center;
  padding: 30px 0;
}
.texto-banner {
    background-color: rgba(0, 0, 0, 0.5);
    width: 90%;
    margin: auto;
    padding: 3em 0;
    -webkit-box-shadow: 10px 10px 60px -6px rgba(0,0,0,0.48);
    -moz-box-shadow: 10px 10px 60px -6px rgba(0,0,0,0.48);
    box-shadow: 10px 10px 60px -6px rgba(0,0,0,0.48);
}
.fondo-banner h1, .fondo-banner h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    display: block;
    text-align: center;
}
.fondo-banner p {
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    margin-top: 50px;
}
.fondo-banner a {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    background-color: #64a19d;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    padding: 18px 24px;
    transition:0.2s background-color;
    text-decoration: none;
    display: inline-block;
}
.fondo-banner a:hover {
    background-color:#4f837f;
}

.fondo-banner a:active {
    background-color:#4f837f!important;
    transform:translateY(1px);
}

/* Seccion productos destacados */
section {
  margin-top: 30px;
}
#productosDestacados {
  padding: 25px;
  text-align: center;
}
#productosDestacados h3 {
  color: #000;
  padding: 15px 0;
}
#productosDestacados hr {
  border: 1px solid #eee;
  margin: 5px 0 15px 0;
}
.producto {
  margin-bottom: 15px;
  position: relative;
}
.producto img{
  width: 100%;
  height: auto;
}

#productosDestacados .container-productos .producto .producto-hover {
  background: #64a19d;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  display: none;
}
#productosDestacados .container-productos .producto .producto-hover:hover {
  opacity: 1;
}
#productosDestacados .container-productos .producto .producto-hover .producto-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 42%;
  margin-top: -12px;
  color: white;
}

/* Seccion Quienes Somos */
  #sobreNosotros {
    background-image: url(../img/fondo-sobre-nosotros.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    background-color: #eee;
    padding: 50px 15px;
  }
  #sobreNosotros h3 {
    color: #000;
    padding: 10px 0;
    font-size: 2.5em;
  }
  #sobreNosotros p {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    padding: 20px 10px;
    font-weight: 500;
  }
  #sobreNosotros img {
    width: 50px;
    height: auto;
    margin: 30px auto;
  }

@media (min-width: 480px) {
  .fondo-banner a {
    margin: 25px 5px 0;
  }
  .container-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .producto {
    width: 49%;
  }
  #sobreNosotros p {
    padding: 30px 30px 10px;
    margin: 0 50px;
  }

}

@media (min-width: 780px) {
  #productosDestacados .titulo-productos h3 {
    font-size: 2.3em;
  }
  .producto {
    width: 33%;
  }
  .fondo-banner h1, .fondo-banner h2  {
    font-size: 4em;
  }
  .fondo-banner p {
    font-size: 2.5em;
  }
  #sobreNosotros p {
    padding: 50px 30px 20px;
    margin: 10px auto;
    width: 60%;
  }
  #productosDestacados .container-productos .producto .producto-hover {
    display: block;
  }
}


@media (min-width: 900px) {
  #productosDestacados {
    max-width: 80%;
    margin: auto;
  }

}
