* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
  font-size: 20px;

}

form {
  font-family: 'Fjalla One', sans-serif;
  padding: 30px;

}

ul.button {
  font-family: 'Fajalla One', sans-serif;
  flex-direction: column;
}

ul {
  list-style: none;
}



p {display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  color: white;
}
h1{
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 50px;
}
 h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
  color: white;
  text-align: justify;
  display: inline-block;
}
