
body.log {
  background-color: black;
}


div.log {
  font-family: 'Fjalla One', sans-serif;
  padding: 5%;
  justify-content: center;
  background-color: black;
  color: white;
}

div.form-log {
  width: 25em;
  margin: auto;
  display: initial;

}

input {
	margin-bottom: 25px;
}
form button:hover {
	background-color: #fff;
	color: #000;
}

@media (min-width: 700px) {
	div.log {
		padding: 10%;
	}
}
