* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-fluid {
  padding: 0!important;
}
p {
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 16px;
}
h1{
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 2em;
}
 h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
  color: white;
  text-align: justify;
  display: inline-block;
}

/* Estilos del Nav */
.logo {
  padding-left:1%;
  width: 10%;
  height: auto;
}
nav{
  background-image: url("../img/fondo2.jpg");
}
.navbar-expand-lg .navbar-nav {
  width: 100%;
  justify-content: flex-end;
  text-align: center;
}
div ul li a{
  font-family: 'Fjalla One', sans-serif;
  font-size: 1em;
  color: white;
  list-style-type: none;
    text-transform: uppercase;
}
div ul li a :hover{
  background-color: black;
  color:red;
}
ion-icon{
  font-size: 2em;
  color: white;
}
ul li{
    padding-left: 20px;
}
footer{
background-image: url("../img/fondo2.jpg");
  padding-left: 10%;
  padding-top: 2%;
padding-right: 10%
}

ul li{
  display: inline-flex;
  flex-direction: row;
  justify-content:space-between;

}
footer ul li a ion-icon{

list-style-type: none;
  font-size: 50px;
  color: white;
}

footer ul{
  margin-left: 50%;

}
/*Aca es el style de Preguntas*/

.PreguntasF ul .respuesta{
  color: black;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  margin-left: 5%;
}
.PreguntasF ul h3{
  color: black;
  font-size: 40px;
}
.PreguntasF ul li{
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px;
}
