* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-moz-selection {
  color: #000;
  text-shadow: none;
  background: #64a19d;
}
::selection {
  color: #000;
  text-shadow: none;
  background: #64a19d;
}

.container-fluid {
  padding: 0!important;
  position: relative;
}
p {
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 16px;
}
h1{
  color: white;
font-family: 'Shadows Into Light', cursive;
  font-size: 3em;
}
 h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
  color: white;
}

/* Estilos del Nav */
.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 70px;
  height: auto;
}
nav{
  background-color: #000;
  height: 100px;
  z-index: 1000;
}
.navbar {
  padding: 0;
}
.navbar-expand-lg .navbar-nav {
  width: 100%;
  padding-top: 2%;
  justify-content: flex-end;
  text-align: center;
}
.navbar-dark .navbar-toggler {
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin-right: 15px;
}
.navbar-collapse {
  padding-top: 0px;
}
.navbar-expand-lg .navbar-nav {
  margin-left: 0px;
  margin-right: 10px;
}
nav h1 {
  padding: 12px 0 0 50px;
}
nav ul {
  background-color: #000;
}
nav ul li a{
  font-family: 'Fjalla One', sans-serif;
  font-size: 1em;
  color: white;
  list-style-type: none;
  text-transform: uppercase;
  margin-top: 5px;
}
nav ul li a :hover{
  background-color: black;
  color: #64a19d;
}
nav i{
  font-size: 1.5em;
  color: white;
  margin-bottom: 6px;
}
nav ion-icon{
  font-size: 2em;
  color: white;
}
nav ul li{
    padding-left: 0px;
}
nav ul li a p {
  display: none;
}
.navbar-dark .navbar-nav .nav-link {
  color: #64a19d;
}
/* Estilos del footer */

footer {
    background-color: #111;
    color: white;
    padding-top: 30px;
    text-align: center;
    bottom: 0;
}
footer .container {
    margin: 20px auto 30px;
}
footer .footer-copyright {
    background-color: #000;
    padding-top: 3px;
    padding-bottom: 3px;

}
footer .footer-copyright p {
    font-size: 0.8em;
    margin: 10px;
    color: #ccc;
}
footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}
footer .logo-footer {
  width: 50px;
  height: auto;
  margin: 0 0 10px 19px;
}
footer h5 {
    font-size: 1.3em;
    color: white;
    margin-top: 15px;
    text-transform: uppercase;
}
footer a {
    color: #d2d1d1;
    text-decoration: none;
}
footer a:hover, footer a:active {
    text-decoration: none;
    color: white;
}
footer h1 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}
footer .iconos-redes {
    display: inline;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

footer .iconos-redes a {
    font-size: 2.5em;
    color: #fff;
    padding: 5px;
    transition: 0.2s;
}

footer .iconos-redes a:hover {
    text-decoration: none;
    color: #64a19d;
}



footer .btn {
    color: white;
    background-color: #64a19d;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    footer {
        text-align: center;
    }
}





/*Aca es el style de Preguntas*/
.fondo-preguntas {
  background-image: url("../img/fondo-preguntas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  padding: 50px 0 100px;
}
.preguntasF {
  text-align: center;
}
.preguntasF h3{
  color: #000;
  font-size: 1.9em;
  padding: 10px 0;
}
.preguntasF .card {
  margin: 0 auto 10px;
  max-width: 500px;
  border: none;
}
.preguntasF .card-header {
  background-color: #000;

}

.preguntasF .btn-link {
  color: #fff;
}
.preguntasF .btn-link:hover, .preguntasF .btn-link:active{
  text-decoration: none;
}
.preguntasF .card-body p {
  color: #000!important;
}
@media (min-width:320px){


  .navbar-collapse {
      padding-top: 0px;
      margin-left:240px;
      margin-right:  00px;
  }

}
@media (min-width:375px){

  .navbar-nav .nav-link {
      padding-right: 00px;
      padding-left: 00px;
      margin-right: 00px;
      margin-left: 00px;

  }
  .navbar-collapse {
      padding-top: 0px;
      margin-left: 290px;
      margin-right:  00px;
  }
  nav h1 {
    padding: 12px 0px 0 15px;
  }
}
@media (min-width:425px){

  .navbar-collapse {
      padding-top: 0px;
      margin-left:340px;
      margin-right:  00px;
      border-radius: 20px;
      border-style: solid 5px;
  }
  nav h1 {
    padding: 12px 0px 0 15px;
  }
}
@media (min-width:768px) {
.navbar-expand-lg .navbar-collapse {
 display: flex!important;
 flex-basis: auto;
}
.navbar-collapse {
    padding-top: 0px;
    margin-left:00px;
    margin-right:  00px;
}
.navbar-collapse {
 padding-top: 0!important;
 padding-right: 15px;
}
.navbar-expand-lg .navbar-toggler {
 display: none;
}
.navbar-expand-lg .navbar-nav {
 flex-direction: row;
}
.navbar-expand-lg .navbar-nav {
  width: 100%;
  padding-top: 0%;
  justify-content: flex-end;
  text-align: center;
}
.navbar-nav .nav-link {
    padding-right: 00px;
    padding-left: 26px;
    margin-right: 00px;
    margin-left: 00px;
}
nav h1 {
  padding: 0px 0px 0 100px;
}
.logo {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 80px;
  height: auto;
  padding: 5px;
}
nav ul li a p {
  display: inline;
  text-transform: lowercase;
  font-size: 0.8em;
}
}
@media (min-width:1024px){
  .logo {
    position: absolute;
    top: 6px;
    left: 32px;
    width: 87px;
    height: auto;
  }
  nav h1{
    font-size: 3.5em;
    margin-left: 3%;
  }
  .navbar-expand-lg .navbar-nav {
    width: 100%;
    font-size: 13px;
    padding-top: 0px;
    justify-content: flex-end;
    text-align: center;
  }
  .navbar-collapse {
    padding-top: -10px;
    margin-left:0px;
    margin-right:  00px;
  }
  nav ul li a {
    font-size: 1.5em;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: .5rem;
}
}
