* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-fluid {
  padding: 0!important;
  position: relative;
}
p {
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 16px;
}
h1{
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 2em;
}
 h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
  color: white;
}

/* Estilos del Nav */
.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 70px;
  height: auto;
}
nav{
  background-color: #000;
  height: 100px;
  z-index: 1000;
}
.navbar {
  padding: 0;
}
.navbar-expand-lg .navbar-nav {
  width: 25%;
  padding-top: 3%;
  justify-content: flex-end;
  text-align: center;
}
.navbar-dark .navbar-toggler {
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin-right: 15px;
}
.navbar-collapse {
  padding-top: 40px;
}
.navbar-expand-lg .navbar-nav {
  margin-left: 0px;
  margin-right: 0px;
}
nav h1 {
  padding: 12px 0 0 15px;
}
nav ul {
  background-color: #000;
}
nav ul li a{
  font-family: 'Fjalla One', sans-serif;
  font-size: 13px;
  color: white;
  list-style-type: none;
    text-transform: uppercase;
}
nav ul li a :hover{
  background-color: black;
  color:red;
}
ion-icon{
  font-size: 2em;
  color: white;
}
nav ul li{
    padding-left: 20px;
}

/*Estilos del footer*/
footer{
  background-color: #000;
  padding:5%;
  color: white;
}

footer ul {
  display: flex;
  justify-content: space-around;
}

footer ul li{
  display: flex;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}

footer ul li a{

list-style-type: none;
  font-size: 100%;
  color: white;
}

footer a:hover {
  color: white;
}

footer h3 {
  font-size: 1.42em;
  margin: 0 auto;
  text-align: center;

}

h4 {
  font-size: 1em;
  text-align: center;
}

/*Aca es el style de Preguntas*/
.PreguntasF ul .respuesta{
  color: black;
  font-size: 1.25em;
  font-family: 'Quicksand', sans-serif;
  margin-left: 5%;
}
.PreguntasF ul h3{
  color: black;
  font-size: 2.25em;
}
.PreguntasF ul li{
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.5em;
}

.PreguntasF {
  padding: 0.75em;
}

@media (min-width:375px){
  nav ul li a{

  }
  .navbar{
    padding: 00px 0px 0px 0px;
  }
  .navbar-nav .nav-link {
      padding-right: 00px;
      padding-left: 00px;
      margin-right: 00px;
      margin-left: 00px;

  }
  .navbar-collapse {
      padding-top: 10px;
      margin-left:0px;
      margin-right:  00px;
  }
  nav h1 {
    padding: 12px 0 0 150px;
  }
}

@media (min-width:768px){
  .navbar-expand-lg .navbar-nav {
    width: 13%;
    padding-top: 7%;
    justify-content: flex-end;
    text-align: center;
  }
  .logo{
    width: 15vw;
    margin:0px 10px 10px 20px;
  }
}
@media (min-width:1024px){

    .logo{
      width: 8vw;
      margin:-10px 10px 10px 20px;
    }
  nav h1{
margin-left: 10%;
  }
  .navbar-expand-lg .navbar-nav {
    width: 100%;
    font-size: 13px;
    padding-top: 0px;
    justify-content: flex-end;
    text-align: center;
  }
  .navbar-collapse {
      padding-top: -10px;
      margin-left:0px;
      margin-right:  00px;
  }
}
